
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
   
}

body{
    height: auto;
    background:linear-gradient(
        90deg,
        rgb(51, 73, 82) 5%,
        rgb(37, 208, 242) 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
}

.container{
    border: 2px;
    padding: 30px 40px;
    width: 50%;
    min-width: 5px;
}
.new-container{
    background-color: rgb(151, 200, 222);
    padding: 30px 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

.new-button{
flex: 1;
border-radius: 5px;
font-weight: 400;
height: 100%;
font-size: 1rem;
border: none;
background-color:rgb(64, 88, 140) ;
color: #fff;
padding: 12px;
margin-left: 12px;
cursor:pointer;
}

#nome-tarefa{
flex: 3;
font-size: 1rem;
border: 2px solid #5d686e;
border-radius: 5px;
padding: 12px;
font-weight: 500;
}


